html, body{display:grid;width:100vw; height:100vh;justify-content: center;align-items: center;}
*{ box-sizing: border-box; margin:0; padding: 0;}
li,ul{list-style: none;}
ul{
  display: grid;
  grid-template-columns: repeat(fit-content, minmax(300px,20%))
}
article{
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 200px;
  background-color: rgba(194, 81, 57,0.75);
  justify-self: center;
  align-items: center;
}
.mouse{
  position: absolute;
  left: calc(30% - 45px);
  top: calc(50% - 45px)
}
